body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.header {
  margin-bottom: 2rem; }

.footer {
  padding-top: 1.5rem;
  margin-top: 2rem;
  color: #777;
  border-top: .05rem solid #e5e5e5; }

.container {
  max-width: 46rem; }
