body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.header {
  margin-bottom: 6rem; }
  .header__notification {
    margin-bottom: 1rem; }

.footer {
  margin-top: 2rem;
  color: #EBEBEB;
  background-color: #007bff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; }
  .footer__logo {
    margin: 0 auto;
    position: relative;
    top: 10px; }
  .footer p {
    margin: 0;
    padding: 0;
    font-size: 0.85rem; }

.container {
  max-width: 46rem; }

.login-form__heading {
  margin-bottom: 2rem;
  color: #007bff; }
